/* SocialMediaIcons.css */
.social-media-icons {
    position: relative;
    width: 100%; /* Use 100% to ensure responsiveness */
    height: auto;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    padding:10px; /* Adjust padding as needed */
  }
  
  .my-image {
    width: 80%;
    height: auto; /* Maintain aspect ratio */
    max-width: 80%; /* Ensure the image does not exceed the container width */
    object-fit: cover; /* Ensure the image covers the entire container */
  }
  