html{
  overflow-x: hidden;
}

.balckshade{
  background-color: 'rgba(0, 0, 0, 0.5)';
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}

.background-image-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -1;
  background-image: url("../public/Img/BG.png");
  background-repeat: repeat-y; /* Repeat the image vertically */
  background-size: cover;
}

@media (max-width: 767px) {
  .background-image-container {
    background-size: contain;
    background-repeat: repeat;
  }
}